<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Cooking Staff<br />
              </header>
              
            

            <section id="table">
                <h3>Orders</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Table No</th>
                                <th>Items</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<orders.length;i++){%>
                                <tr>
                                    <td><%=orders[i].orderNo%></td>
                                    <td><%=orders[i].tableNo%></td>
                                    <td>
                                        <%for(var j=0;j<items.length;j++){if(items[j].orderNo==orders[i].orderNo){%>
                                            <li><%=items[j].name%> x <%=items[j].quantity%></li>
                                           <%}}%>
                                </td>
                                
                                <td>
                                    <select name="status" id="<%=orders[i].orderNo%>" onchange="onChange(this.id,this.value)">
                                        <option value="P">Pending</option>
                                        <option value="A">Accepted</option>
                                        <option value="S">Served</option>
                                       
                                    </select>
                                </td>
                            </tr>
                                    <%}%>
                           
                        </tbody>
                       
                    </table>
                </div>

               
            </section>



    </div>
</div>

<%- include ("../partials/footer") %>

<script>
    function ready(){
        var obj =<%-JSON.stringify(orders)%>
       console.log(obj)
       for(var j=0;j<obj.length;j++){
           $("#"+obj[j].orderNo).val(obj[j].status)
       }
    }

    function onChange(id,val){
        $.post('/cookingstaff/',
{orderNo: id,status:val},
      function(data, status){
        console.log(data);
        if(data.success){

        }else{
            console.log(data.error)
    
        }
        location.reload()

      });
       }
    

    ready()
</script>