<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Attendance<br />
              </header>
              <section>
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <h4>Jan 14, 2022</h4>
                    </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Clock In" class="primary" onclick="clockIn()"/></li>
                        <li><input type="submit" value="Clock Out" class="secondary" onclick="clockOut()" /></li>
                    </ul>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Clock In Time - <%=clockIn%></h5>
                    <h5>Clock Out Time - <%=clockOut%></h5>

                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Monthly Summary</h5>
                    <h5>Total Days-  <%=total%> </h5>
                    <%var present = total-absent%>
                    <h5>Present- <%=present%> </h5>
                    <h5>Absent- <%=absent%> </h5>
                </div>
                </div>
              </section>
              <br/>
              <hr>
              <br/>
              <section>
                <h2>Apply for leave</h2>
                <form method="post" action="/attendance/leave/">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label for="fromDate">From Date</label>
                            <input type="date" name="fromDate" id="fromDate" value="" placeholder="From Date" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="toDate">To Date</label>
                            <input type="date" name="toDate" id="toDate" value="" placeholder="To Date" />
                        </div>
                        <div class="col-12 col-12-xsmall">
                            <input type="text" name="reason" id="reason" value="" placeholder="Reason" />
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" class="primary" /></li>
                            </ul>
                        </div>
                    </div>
                </form>

                <h3>Leaves Applied</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Request Id</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Reason</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<leaves.length;i++){%>
                            <tr>
                                <td><%=leaves[i].leaveId%></td>
                                <td><%=leaves[i].fromDate.toISOString().split('T')[0]%></td>
                                <td><%=leaves[i].toDate.toISOString().split('T')[0]%></td>
                                <td><%=leaves[i].reason%></td>
                                <td><%=leaves[i].status%></td>


                            </tr>
                            <%}%>
                           
                        </tbody>
                       
                    </table>
               
            </section>


    </div>
</div>

<%- include ("../partials/footer") %>

<script>
    function clockIn(){
        $.post('/attendance/',
{clockIn:true},
      function(data, status){
        console.log(data);
        if(data.success){

        }else{
            console.log(data.error)
    
        }
        location.reload()

      });
       }

       function clockOut(){
        $.post('/attendance/',
{},
      function(data, status){
        console.log(data);
        if(data.success){

        }else{
            console.log(data.error)
    
        }
        location.reload()

      });
       }
    
</script>