<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Cashier<br />
              </header>
              
            

            <section id="table">
                <h3>Orders</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Table No</th>
                                <th>Total Amount</th>
                                <th>Status</th>

                                <th>Generate Invoice</th>

                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<orders.length;i++){ %>
<tr>
    <td><%=orders[i].orderNo%></td>
    <td><%=orders[i].tableNo%></td>
    <td><%=orders[i].amount%></td>
    <td><%=orders[i].status%></td>
    <td><button id="<%=orders[i].orderNo%>" class="btn btn-primary" onclick="getInvoice(this.id)">Generate Invoice</button></td>

</tr>
                                <%}%>

                        </tbody>
                       
                    </table>
                </div>

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Payment Received" class="primary" /></li>
                    </ul>
                </div>
            </section>



    </div>
</div>

<%- include ("../partials/footer") %>

<script>
  function  getInvoice(orderNo){
        document.location.href = '/cashier/payment?orderNo='+orderNo

    }
</script>