<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Invoice<br />
              </header>
              
            

            <section id="table">
                <h3>Order</h3>
                <h3>Status - <%=order.status%></h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Veg</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                           <%for(var i=0;i<items.length;i++){var cost = items[i].quantity*items[i].price %>
                               <tr>
                                   <td><%=items[i].name%></td>
                                   <td><%=items[i].description%></td>
                                   <td><%=items[i].isVeg%></td>
                                   <td><%=items[i].price%></td>
                                   <td><%=items[i].quantity%></td>
                                   <td><%=cost%></td>

                               </tr>
                               <%}%>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"></td>
                                <td >CGST</td>
                                <td><%=order.cgst%></td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td >SGST</td>
                                <td><%=order.sgst%></td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td >Total</td>
                                <td><%=order.total%></td>
                            </tr>
                            <tr>
                                <td>Invoice Date</td>
                                <td><%=order.create_date%></td>
                                <td colspan="2"></td>
                                <td >Amount</td>
                                <td><%=order.amount%></td>
                            </tr>
                        </tfoot>
                    </table>
                    <button id="btn" onclick="printDiv('table')">Print Invoice</button>
                    <% if(order.status!='C'){%>  
                    <button onclick="paid()">Mark as Paid</button>
                    <%}%>
                        

                </div>

               
            </section>



    </div>
</div>

<%- include ("../partials/footer") %>

<script>
    function paid(){
        $.post('/cashier/payment/',
{orderNo: <%-order.orderNo%>},
      function(data, status){
        console.log(data);
        if(data.success){

        }else{
            console.log(data.error)
    
        }
        location.reload()

      });
       
    }

    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;
     $('#btn').hide();

     window.print();

     document.body.innerHTML = originalContents;
}
</script>